#caja1{
    width: 300px;
    color: #fff;
    background-color: #222;
    padding: 40px;
    margin-bottom: 20px;
    border: 3px solid #68d80c;
    border-radius: 30px;
}

#caja2{
    width: 300px;
    color: #fff;
    background-color: #a81b1b;
    padding: 40px;
    border-bottom: 3px solid #68d80c;
}